body{
    margin: 0 auto;
    scroll-behavior: smooth;
    width: 100%;
}

h1,
h2,
h3,
h4,
h5,
p{
    color: #fff;
}

/*Navbar*/
.navbar{
    width: 100%;
    box-shadow: 0 3px 10px rgb(0 0 0 / 0.2);
}
.nav-link,
.navbar-brand,
.navbar-toggler-icon{
    color: darkgray !important;
    margin: 10px !important;
}
.nav-link:hover{
    color: #080808 !important;
}
.btn{
    background-color: #023660;
    color: #fff;
}
.btn:hover{
    background-color: #3B6283;
}

/*Header*/
  .header-image{
    background-image: url("https://mdbootstrap.com/img/Photos/Horizontal/Nature/full page/img(20).webp");
    height: 100%;
    width: 100%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    opacity: 1;
  }
