html {
    margin: 0;
    padding: 0;
    scroll-behavior: smooth;
}

body {
    margin: 0 auto;
    scroll-behavior: smooth;
    width: 100%;
    overflow-x: hidden;
}
a {
    color: #fff;
}
a:hover {
    color: #fff;
}

::-webkit-scrollbar {
    width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
    background-color: black;
}

/* Handle */
::-webkit-scrollbar-thumb {
    background: #5821a0;
    border-radius: 10px;
}
.btn{
    padding-left: 20px;
    padding-right: 20px;
    padding-top:13px;
    padding-bottom: 13px;
    font-size: 1rem;
}
a:hover {
    border: none !important;
}
a:focus {
    border: none !important;
}
a:visited {
    outline: none !important;
}
a:visited {
    outline: none !important;
}

p {
    font-size: 1.1rem;
    font-weight: lighter;
}

.container {
    padding-top: 100px;
    padding-bottom: 100px;
}
.container-fluid {
    padding-top: 100px;
    margin-bottom: -50px;
}
.contact-link,
h1,
h2,
h3,
h4,
h5,
h6,
li,
p {
    color: #fff;
    font-weight: 300;
}
.contact-link:hover {
    color: #f89b0a;
    text-decoration: none;
}

h2,
h3,
h4,
h5,
h6 {
    font-size: 2rem;
    padding-bottom: 1rem;
    line-height: 3rem;
}

a {
    color: #9a9a9a;
}

h1 {
    line-height: 3.3rem;
}
li {
    line-height: 2.5rem;
}

.fa-sharp,
.fa-solid {
    margin-right: 10px;
}

.contact-us-text,
.services-text {
    width: 60%;
    margin: auto;
}
/*Navbar*/
.logo {
    width: 60px;
    height: 60px;
}
.navbar {
    width: 100%;
    position: absolute;
    z-index: 99;
}
.nav-link,
.navbar-brand,
.navbar-toggler-icon {
    color: darkgray !important;
    margin: 10px !important;
}
.nav-link:hover {
    color: #080808 !important;
}
.btn {
    background-color: #f89b0a;
    color: #fff;
    border-radius: 50px;
    border: none;
}
.btn:hover {
    background-color: #5821a0;
    border: none;
}

/*Header*/
#thehero {
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    color: #fff;
    background: #ad5389;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #3c1053, #ad5389);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #3c1053, #ad5389); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}
.header-col {
    align-self: center;
}
/*Our Mission*/
.our-mission {
    width: 100%;
    background: rgb(2,0,36);
    background-image: radial-gradient(at center bottom, rgb(72, 34, 122), rgb(17, 15, 36));
}

li {

    padding: 0;
}
ol,
ul {
    padding: 0;
    margin: 0;
    list-style-type: none;
}

/*Services*/
.services {
    background: radial-gradient(74.71% 39.98% at 49.97% 100%, rgba(102, 0, 183, 0.72) 0%, rgba(12, 53, 115, 0) 100%), radial-gradient(63.34% 63.34% at 50% 36.66%, rgba(58, 0, 183, 0.72) 0%, rgba(12, 53, 115, 0) 100%), rgb(19, 10, 42);
}

.card {
    background-color: #030027;
    margin-bottom: 20px;
    border-radius: 20px;
    padding: 20px;
    transition: border 0.1s, transform 0.3s;
}

.card:hover {
    -webkit-transform: translateY(-10px);
    transform: translateY(-10px);
    cursor: pointer;
}

.card-p i {
    margin-right: 8px;
}
.card-title {
    font-size: 1.7rem;
}
.card-img-top {
    height: 70px;
}
.divider {
    width: 100%;
    height: 3px;
    background-image: linear-gradient(270deg, rgba(9, 228, 97, 0) 0%, rgb(206, 239, 0) 17.19%, rgb(81, 249, 128) 34.38%, rgb(45, 81, 237) 50%, rgb(0, 96, 241) 67.19%, rgb(241, 0, 217) 83.33%, rgba(45, 73, 85, 0) 99.75%);
}
/*Distribution of Tokens*/

.fa-circle-1 {
    color: #0fa5fd;
}
.fa-circle-2 {
    color: #865bf3;
}
.fa-circle-3 {
    color: #e65356;
}
.fa-circle-4 {
    color: #e6c253;
}
.fa-circle-5 {
    color: #00f9a7;
}

.tokens {
    background-image: radial-gradient(at center bottom, rgb(72, 34, 122), rgb(17, 15, 36));
}

.chart {
    vertical-align: middle;
    width: 100%;
    margin: 0 auto;
    position: relative;
    display: inline-block;
}

canvas {
    height: 100%;
}

/*Testimonials*/

.testimonials {
    background: radial-gradient(74.71% 39.98% at 49.97% 100%, rgba(102, 0, 183, 0.72) 0%, rgba(12, 53, 115, 0) 100%), radial-gradient(63.34% 63.34% at 50% 36.66%, rgba(58, 0, 183, 0.72) 0%, rgba(12, 53, 115, 0) 100%), rgb(19, 10, 42);

}

/*Coontact Us*/

.contact_form,
.contact_info {
    background-color: rgb(72, 34, 122);
}
.contact_info_item {
    color: #fff;
    width: calc((100% - 60px) / 3);
    height: 100px;
    border-radius: 20px;
    padding: 20px;
    box-shadow: rgba(0, 0, 0, 0.35) 0 5px 15px;
    transition: all 0.2s ease-in-out;
}
.contact_info_item:hover {
    transform: scale(1.05);
}

.contact_info_image {
    width: 35px;
    height: 35px;
    text-align: center;
}
.contact_info_image img {
    max-width: 100%;
}
.contact_info_content {
    padding-left: 17px;
}

.contact_info_text {
    font-size: 12px;
    color: rgba(0,0,0,0.5);
}

/*Contact Form*/

.contact_form_title {
    font-size: 30px;
    font-weight: 500;
    margin-bottom: 37px;
}
.contact_form_inputs {
    margin-bottom: 30px;
}
.input_field {
    width: calc((100% - 60px) / 3);
    height: 50px;
    padding-left: 25px;
    border: solid 1px #e5e5e5;
    border-radius: 5px;
    outline: none;
    color: #0e8ce4;
    -webkit-transition: all 200ms ease;
    -moz-transition: all 200ms ease;
    -ms-transition: all 200ms ease;
    -o-transition: all 200ms ease;
    transition: all 200ms ease;
}
.input_field:focus,
.text_field:focus {
    border-color: #b2b2b2;
}
.input_field:hover,
.text_field:hover {
    border-color: #b2b2b2;
}
.input_field::-webkit-input-placeholder,
.text_field::-webkit-input-placeholder {
    font-size: 16px;
    font-weight: 200;
    color: #a9a9a9;
}

.text_field {
    width: 100%;
    height: 160px;
    padding-left: 25px;
    padding-top: 15px;
    border: solid 1px #e5e5e5;
    border-radius: 5px;
    color: #0e8ce4;
    outline: none;
    -webkit-transition: all 200ms ease;
    -moz-transition: all 200ms ease;
    -ms-transition: all 200ms ease;
    -o-transition: all 200ms ease;
    transition: all 200ms ease;
}
.contact_submit_button {
    padding-left: 35px;
    padding-right: 35px;
    font-size: 18px;
    border: none;
    outline: none;
    cursor: pointer;
    margin-top: 24px;
}

.contact-icon {
    font-size: 2rem;
}

.contact_form_message,
.input_field {
    background-color: #48227A !important;
    border-radius: 20px;
    color: #fff;
    font-size: 1rem;
}

textarea {
    resize: none;
}

/*Footer*/

.footer-wrapper {
    background: linear-gradient(rgb(19, 10, 42) 0%, rgb(28, 11, 71) 100%);

}

.footer-social-icon {
    font-size: 1.5rem;
    margin-bottom: 20px;
    color: #fff;
}
.footer-social-icon:hover {
    color: #f89b0a;
    cursor: pointer;
}
.footer-subheading {
    font-size: 1.3rem;
    margin-bottom: 30px;
}

.footer-link,
.footer-address {
    color: #fff;
    text-decoration: none;
    font-weight: 200;
    font-size: 1rem;
}
.footer-link:hover {
    color: #f89b0a;
    cursor: pointer;
    text-decoration: none;
}
/*Media Query*/



@media only screen and (max-width: 991px) {
    .h1, .card-text{
        text-align: center;
    }
    .the-inner{
        padding-top: 5rem;
    }
    .container{
        padding-top: 30px;
        padding-bottom: 30px;
        padding-left: 1rem;
        padding-right: 1rem;
    }
    .container-fluid {
        padding-top: 60px;
        padding-bottom: 60px;
    }

    .col-header-image{
        margin-top: 3rem;
    }
    .services-text{
        width: 100%;
    }
    .contact_info_item {
        width: 100%;
        margin-bottom: 30px;

    }
    .contact_info_item:last-child {
        margin-bottom: 0;
    }
    .testimonials-col{
        margin-top: 3rem;
    }

}

@media only screen and (max-width: 767px) {

    .input_field {
        margin-bottom: 30px;
        width: 100%;
    }
    .input_field:last-child {
        margin-bottom: 0;
    }
}

@media only screen and (max-width: 575px) {

    .contact_submit_button {
        font-size: 13px;
        padding-left: 25px;
        padding-right: 25px;
    }
}
